@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    padding: 0px;
    margin: 0px;
    background-color: #663605;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    
}

div#img {
    display: flex;
    justify-content: center;
    align-content: center;
}

header img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 35px;
    margin-top: 0px;
    padding-top: 0px;
}

header h1 {
    color: #F8C477;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

header p {
    color: #fcdcad;
    font-size: 1.2em;
    text-align: center;
    width: 40vw;
    margin: auto;
    padding-bottom: 10px;
}

header ul {
    display: flex;
    margin: 5px;
    margin-bottom: 0px;
    justify-content: center;
}

header ul li {
    margin: 15px;
    margin-bottom: none;
    text-align: center;
    list-style-type: none
}

header ul li svg:hover {
    background-color: #F8C477;
    color: #753513;
    transition: background-color .3s;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

header ul li svg {
    width: 35px;
    text-align: center;
}

main {

}

main h2 {
    padding: 25px;
    color: #fcdcad;
    font-size: 1.6em;
    text-align: center;
    width: 55vw;
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #975614;
    text-align: center;
    margin: auto;
}

footer p {
    font: normal 1.1em Arial;
    padding: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}